body{
  padding-top: 70px;
  background-color: rgb(241, 242, 246);
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}
.jumbotron{
  margin-top: -6em;

}
.jumbotron-contents {
  color:#fff;
  vertical-align: middle;
  text-align: center;
  margin:0 auto;
  width:100%;
  min-height: 600px;
  max-height: 800px;
  background-image: url(/assets/bottle.png);
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

.jumbotron-contents h1{
  font-family: 'Lato', sans-serif;
  color:#fff;
  font-size: 8em;
}
.jumbotron-contents p{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color:#fff;
}

#header-wrap{
  padding-top: 10em;
}
.message-card{
  text-align: center;
  min-height: 10em;
}

.message-card .caption .time,
.message-card .caption .name{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.headtext{
  text-align: center;
}

.navbar-right{
  margin-right: 15px;
}

footer{
  background-color: #3BAFDA;
}

.edit-submit{
  margin-bottom: 2em;
}

.edit-form{
  margin-bottom: 2em;
}

.buttons{

}
